.container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.label {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-fg-label);
}

.value {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-fg);
}