.button {
    background-color: var(--color-content-bg);
    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius);
    color: var(--color-fg);
    cursor: pointer;
    font-size: 0.95rem;
    padding: 0.3rem 0.2rem;
    width: 10rem;
    /* margin: 0 0.2rem; */
}
.button:hover {
    background-color: var(--color-accent-hover);
}
.button.active {
    background-color: var(--color-accent);
}