.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo {
    border-bottom: 1px solid var(--color-border);
    padding: 0.5rem 1rem;
    background-color: var(--color-content-bg);
}

.title {
    margin: 0;
    color: var(--color-fg);
}

@media (max-width: 480px) {
    .logo {
        padding: 0.5rem 0.5rem;
    }
    .title {
        font-size: 1.2rem;
        text-align: center;
    }
}